*{
  box-sizing: border-box;
  text-align: center;
  margin:auto 0;
  padding:0;
  font-family: 'Inter', sans-serif;
}


body{
  background-color:lightgrey;
  padding:4%;
}

a{
  text-decoration: none;
  color:black;
}

a:hover{
  text-decoration:underline;
  color:white;
}

.profile-img{
  max-width: 100%;
  width:100%;
}

.profile-text{
  margin:0;
  padding:15px;
}


.box-img{
  max-width: 100%;
  padding:25px;
  padding-top:25px;
  padding-left:25px;
  padding-right:25px;
}
.box{
  padding-bottom:20px;
}

.contact-title{
  padding:10%;
}

li{
  list-style: none;
  font-weight: 800;
  text-transform: uppercase;
  padding: 15px;
}

h1{
  font-size:35px;
  margin:10px;
}
h2{
  text-transform: uppercase;
  padding:15px;
  font-weight: 600;
  font-size:18px;
  margin:40px;
  margin-bottom:5px;
}

h3{
  padding:5px;
}
p{
  padding:15px;
}
.p2{
  padding:15px;
}

#contact{
  padding:10px;
  padding-top:10px;
}



footer{
  display:flex;
  justify-content: space-between ;
}

#footer-name,#back-to-top{
  font-weight: 600;
  padding:20px;
}

.contact-info{
  font-weight:600;
}



.main-nav{
padding-left:0;
padding:15px;
}

hr{
  color:red;
}

.bottom-nav{
  display:none;
}


@media (min-width:768px){
  .main-nav{
    display:inline-flex;
  }
  .wrapper{
    display:flex;
    flex-direction: row-reverse;
  }
  .profile-img{
    max-width: 40%;
  }
  .profile-text{
    text-align: left;
    font-size: 20px;
  }
  .box{
    float:left;
    width: 50%;
    padding-left: 0px;
    margin:auto;
  }
  
  .bottom-nav{
    display:flex;
  }
  #back-to-top{
    display:none;
  }


}

@media (min-width:1024px){
  .main-header{
    display:flex;
   justify-content: space-between;
  }
  
  .box{
    float:left;
    width:33%;
    padding-left: 0px;
    margin:auto;
  }

  #contact{
    display:inline-flex;
    padding-left:17%;
    padding-top:6%;
    padding-right:17%;
  }
  #back-to-top{
    display:none;
  }
  .bottom-nav{
    display:flex;
  }

}





/*--------------------------------
Media Queries*/







